
.main{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 100%;
	background-color: #6a77b9;
}
.heading{
	margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
   font-family:Georgia, 'Times New Roman', Times, serif;
   border-radius: 2px;
   font-size:35px;
   letter-spacing:0.2;
   font-style:normal;
   font-weight:500;
   color: rgb(0, 0, 0);
}
.input_field input{
    height: 50px;
    width: 100%;
    padding: 2px;
    margin: 5px;
}
input_field select_option{
	width: 100%;
	height: 50px;
}

#register{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
	/* box-shadow: 3px 3px #e8e3e3; */
    cursor: pointer;
	background-color: #e6e6e6;
}
.submit{
	display: flex;
	justify-content: center;
	align-items: center;
}
.title_container{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}
.form_wrapper {
    display: flex;
    flex:80%;
    height: 100%;
	width: 50%;
    margin-bottom: 10px;
	background: #bbbbf8;
    justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 25px;
	border-radius: 20px;
	margin: 20px;
	position: relative;
	z-index: 1;
	border-top: 5px solidyellow;
	box-shadow: 12px 13px 53px 3px  rgb(7, 3, 3);
    
	h2 {
		font-size: 1.6em;
		line-height: 1.5em;
		
	}
	
	h3 {
		font-size: 1.1em;
		font-weight: normal;
		line-height: 1.5em;
		margin: 0;
	}
    label {
        font-size: 12px;
    }
	.row {
		margin: 10px -15px;
		>div {
			padding: 0 15px;
			box-sizing: border-box;
		}
	}
	.row clearfix{
	.col_half {
		width: 100%;
		float: left;
	}
}
	.input_field {
		position: relative;
		margin-bottom: 10px;
        width: 100%;
        height: 100px;
		/* >span {
			position: absolute;
			left: 0;
			top: 0;
			color: #fff5f5;
			height: 100%;
			border-right: 1px solid grey;
			text-align: center;
			width: 90px;
			>i {
				padding-top: 10px;
			}
		} */
	}
	.textarea_field {
		>span {
			>i {
				padding-top: 12px;
			}
		}
	}
	input {
    &[type="text"], &[type="email"], &[type="password"],&[type="fname"],&[type="lname"],&[type="phone"],&[type="service"] {
      width: 100%;
      padding: 20px 20px 20px 35px;
      height: 50px;
      border: 1px solid rgb(255, 255, 255);
      box-sizing: border-box;
      outline: none;
	  background-color: #f0f0f0;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
    }
    &[type="text"]:hover, &[type="email"]:hover, &[type="password"]:hover {
      background: #fafafa;
    }
    &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus,&[type="phone"]:focus,&[type="fname"]:focus,&[type="lname"]:focus {
      -webkit-box-shadow: 0 0 2px 1px rgb(244, 244, 242);
      -moz-box-shadow: 0 0 2px 1px rgb(255, 255, 255);
      box-shadow: 0 0 2px 1px rgb(255, 254, 252);
      border: 1px solid rgb(255, 255, 255);
      background:rgb(255, 255, 255);
    }
    &[type="submit"] {
		background:rgb(247, 247, 247);
		height: 55px;
		line-height: 35px;
		width: 100%;
		border: none;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		outline: none;
		cursor: pointer;
		color: rgb(0, 0, 0);
		font-size: 1.25em;
		margin-bottom: 10px;
		&:hover {
			background-color: (darkenyellow,7%);
		}
		&:focus {
			background-color: (darkenyellow,7%);
		}
	}    
    /* &[type="checkbox"], &[type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    } */
  }
}
input_field {
	display: flex;
}
.checkbox_option{
    display: flex;
    align-items: center;
	justify-content: space-around;
    label{
		margin-left: 10px;
    }
}
.checkbox_option input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #333;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	background-color: rgb(16, 27, 84);
  }
  
  .checkbox_option input[type="checkbox"]:checked {
	background-color: #21c016;
	border: 2px solid #ffffff;
  }



.select_option {
  position: relative;
  width: 103%;
  height: 50px;
  display: flex;
 padding: 2px;
  margin: 9px 0px 0px 4px;
  option{
    display: flex;
   text-align: center;
   justify-content: center;

 }
    &:hover, &:focus {
      color: rgb(19, 8, 8);
      outline: none;
    }
   
  }
.select_option select {
    width: 100%;
	height: 50px;
	background-color: #f0f0f0;
  &:hover + .select_arrow, &:focus + .select_arrow {
    border-top-color: rgb(0, 0, 0);
	
	height: 50px;
  }
}
.credit {
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 15px;
	color: yellow;
	a {
		color: darken(yellow,7%);
	}
}
@-webkit-keyframes check {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 7px; }
  50% { height: 20px; width: 7px; }
}

@keyframes check {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 7px; }
  50% { height: 20px; width: 7px; }
}

@-webkit-keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); opacity:0; }
	25% { -webkit-transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1);  opacity:1; }
}

@keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1);  opacity:0; }
	25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1);  opacity:1; }
}


@-webkit-keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
@media (max-width: 600px) {
	.form_wrapper {
		.col_half {
			width: 100%;
			float: none;
		}
	}
	.bottom_row {
		.col_half {
			width: 50%;
			float: left;
		}
	}
	.form_container {
		.row {
			.col_half.last {
				border-left: none;
			}
		}
	}
	.remember_me {
		padding-bottom: 20px;
	}
}